Ответьте на его вопрос: «Чем отличается DataFrame от Series?»

В первую очередь стоит разобраться, что такое объекты Series и Data Frame сами по себе.

# Структура данных Series

**Series** - похожий на массив объект, который имеет одну важную отличительную особенность - *индексы*.

*Индексы* - это определенный массив меток, позволяющий гораздо удобнее обращатсья к элементам Series. Индексами могут быть порядковые номера элементов, даты, имена и любые другие признаки. Наличие индексов делает анализ с помощью Series гораздо удобнее.

Пример работы с Series:

In [4]:
import pandas as pd
import numpy as np

Создание объекта Series

In [22]:
print("Создание обьекта Series:")
obj = pd.Series([1,2,3,4,5,6,7])
obj

Создание обьекта Series:

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

 Series позволяет проводить арифмитические операции над элементами и условные выражения

In [33]:
print('Все элементы, больше чем 4')
print(obj[obj > 4])
print('Все элементы, умноженные на 3')
print(obj * 3)

Все элементы, больше чем 4
4    5
5    6
6    7
dtype: int64
Все элементы, умноженные на 3
0     3
1     6
2     9
3    12
4    15
5    18
6    21
dtype: int64

Объект Series может содержать не только числовые значения, но и строковые данные

In [7]:
print("Создание обьекта Series со строковым типом данных:")
obj2 = pd.Series(['Маша','Антон','Сергей','Света'])
obj2

Создание обьекта Series со строковым типом данных:

0      Маша
1     Антон
2    Сергей
3     Света
dtype: object

Помимо самих объектов Series, мы так же можем задать и значения индексов. Например, давайте попробуем создать объект Series с информацией о любимых блюдах школьников. В качестве индексов будем использовать имена, а в качестве элемента, их любимые блюда.

In [18]:
print("Создание обьекта Series с указанием индексов:")
obj2 = pd.Series(['Пельмени','Куриный суп','Картофельная запеканка','Голубцы'], 
                 index = ['Маша','Антон','Сережа','Света'])
obj2

Создание обьекта Series с указанием индексов:

Маша                    Пельмени
Антон                Куриный суп
Сережа    Картофельная запеканка
Света                    Голубцы
dtype: object

Теперь, имея такую удобную структуру данных, мы можем очень просто обращаться к интересующему элементу списка. Например мы хотим узнать любимое блюда Сережи:

In [14]:
print("Обращение к элементу списка по индексу:")
obj2['Сережа']

Обращение к элементу списка по индексу:

'Картофельная запеканка'

С помощью обращения к объекту Series по индексу, мы можем изменить какое то определенное значение. Например, мы хотим изменить любимое блюдо у Маши. Для этого мы обращаемся к элементу с индексом Маша и присваиваем ему значение нового блюда

In [21]:
print("Изменение определенного элемента:")
obj2['Маша'] = 'Борщ'
obj2

Изменение определенного элемента:

Маша                        Борщ
Антон                Куриный суп
Сережа    Картофельная запеканка
Света                    Голубцы
dtype: object

Также мы можем проверить, есть ли тот или иной индекс в Series. В зависимости от того, есть ли тот или иной обьект, программа выведет нам значение True или False.

In [27]:
print('Света' in obj2)

True

In [26]:
print('Олег' in obj2)

False

# Структура данных DataFrame

Если Series представляет собой одномерную структуру, которую для себя можно представить как таблицу с одной строкой, то  **DataFrame** – это уже двумерная структура – полноценная таблица с множеством строк и столбцов самых разных типов. 

Можно сказать что главное отличие **DataFrame** от **Series** в том, что в объекте **DataFrame** храняться два индекса а не один: по столбцам и по строкам.

Конструктор класса DataFrame выглядит так:  
`class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)`

*data* – массив ndarray, словарь (dict) или другой DataFrame;  
*index* – список меток для записей (имена строк таблицы);  
*columns* – список меток для полей (имена столбцов таблицы);  
*dtype* – объект numpy.dtype, определяющий тип данных;  
*copy* – создает копию массива данных, если параметр равен True в ином случае ничего не делает.

Давайте вспомним уже знакомых школьников и их любимые блюда и добавим еще полезной информации.

In [74]:
ind = ['Маша','Антон','Сережа','Света']
data = {'Любимые блюда': ['Пельмени','Куриный суп','Картофельная запеканка','Голубцы'], 
        'Возраст':[8, 9, 11, 7],
       'Вес': [28, 36, 41, 34]}
df = pd.DataFrame(data, index = ind)
df

                 Любимые блюда  Возраст  Вес
Маша                  Пельмени        8   28
Антон              Куриный суп        9   36
Сережа  Картофельная запеканка       11   41
Света                  Голубцы        7   34

Теперь мы можем обращаться к данным не только по строчно, но и с помощью столбцов, например мы хотим узнать возраст всех школьников.

In [75]:
df['Возраст']

Маша       8
Антон      9
Сережа    11
Света      7
Name: Возраст, dtype: int64

В DataFrame обращения к строкам осуществляются с помощью метода .loc. Например мы хотим узнать все данные о Свете:

In [76]:
df.loc['Света']

Любимые блюда    Голубцы
Возраст                7
Вес                   34
Name: Света, dtype: object

Так же можно испольвать так назваемые срезы, для обращения к данным с учетом как строк, так и столбцов

In [90]:
df.iloc[0:2, 1:2]

       Возраст
Маша         8
Антон        9

В DataFrame мы в целом можем приминять все те арифмитические операции и условные выражения что и в Series.

In [85]:
print('Средний вес всех школьников:')
print(df['Вес'].mean())
print('Максимальный возраст школьников:')
print(df['Возраст'].max())
print('Имена школьников, старше 8 лет:')
print(list(df[df['Возраст'] > 8].index))

Средний вес всех школьников:
34.75
Максимальный возраст школьников:
11
Имена школьников, старше 8 лет:
['Антон', 'Сережа']

In [ ]:
# каждое число встреч 2 раза, и только одно число - 1 раз, найти его 
ll = [1,1,2,2,3]
[1,2,2,3,3]
[1,1,2,3,3]
# можно отсортировать массив, тогда у одного числа не будет пары
def twonums(lst):
    lst_sort = slt.sort()
    for i in range(len(lst)):
        if 
return x

In [23]:
x = [1,2,3,4,5,4,3,2,1]
# x = [1,1,2,2,3]
x = [4,1,2,1,2]
for i in x:
	if x.count(i) == 1:
		print(i)

4

In [25]:
nums = [4,1,2,1,2]
def singleNumber(self, nums: List[int]) -> int:
    if(len(nums)==1):
        return nums[0]

    else:
        nums=Counter(nums)
        for x in nums:
            if(nums[x]==1):
                return x
singleNumber(nums)

TypeError: list indices must be integers or slices, not type

In [14]:
ll = [1,1,2,2,3,3,20]
# ll = [1,2,3] SET
sum(set(ll)) * 2 - sum(ll)

20

In [17]:
def nth_fibonacci(n):
    if n <= 1:
        return n
    previous, current = 0, 1
    for _ in range(n - 1):
        previous, current = current, previous + current
    return current

In [58]:
nth_fibonacci(7)

13

In [20]:
>>> def fibonacci_of(n):
...     if n in {0, 1}:  # Base case
...         return n
...     return fibonacci_of(n - 1) + fibonacci_of(n - 2)  # Recursive case

In [22]:
fibonacci_of(6)

8

In [4]:
def quicksort(lst):
    if len(lst) < 2:
        return lst
    else:
        pivot = lst[0]
        less = [i for i in lst[1:] if i <= pivot]
        great = [i for i in lst[1:] if i > pivot]
    return quicksort(less) + [pivot] + quicksort(great)

In [9]:
lst = [10,56,341,12,2,77,5]

quicksort(lst)

[2, 5, 10, 12, 56, 77, 341]

In [12]:
ind = len(lst) // 2
lst[ind]

12

In [62]:
def fibonacci_of(n):
    if n in {0, 1}:  # Base case
        return n
    return fibonacci_of(n - 1) + fibonacci_of(n - 2)  # Recursive case
for i in range(0,12):
    print(fibonacci_of(i))

0
1
1
2
3
5
8
13
21
34
55
89

In [67]:
def rev(x):
    return x[::-1]
rev([1,2,3])

[3, 2, 1]

# set of duplicates

In [71]:
lst = [10,10,10,12,2,2,5,77]
print(set(i for i in lst if lst.count(i) > 1))

{10, 2}

In [72]:
text = 'В лесу родилась ёлочка'
print(len(text.split()))

4

In [74]:
string = '12jkjkpj333mlkkjopk099'
res = ''.join(filter(lambda i: i.isdigit(), string))
int(res)

12333099

In [1]:
def poli(x):
    return x[::-1]

In [2]:
poli('qwerty')

'ytrewq'