# 1
На вход подается файл input.csv, в первой строке названия столбцов: name и score, данные в строках разделены с помощью запятых. Данные в колонке score - числовые.

In [17]:
import pandas as pd
df = pd.read_csv('input.csv')
df.dropna(subset = ['name'], inplace = True)
df.fillna(df.score.mean(), inplace = True)
df.to_csv('output.csv', sep=',')

# 2
На вход подается файл input.csv, в первой строке названия столбцов: date и temperature_c, данные в строках разделены с помощью запятых. Данные в колонке temperature_c - числовые.

In [22]:
import pandas as pd
df = pd.read_csv('input.csv')
df['temperature_f'] = round(df['temperature_c'] * (9/5) + 32)
df.to_csv('output.csv', sep=',')

In [23]:
df

         date  temperature_c  temperature_f
0  07-12-2021             -9           16.0
1  08-12-2021            -11           12.0
2  09-12-2021            -13            9.0

In [28]:
def func(n):
    if n < 2: return n 
    a, b = 0, 1
    for i in range(1,n):
        a,b = b, a + b
    return b
func(100)

354224848179261915075